.about h2 {
  @include font(36px, 54px, 300);
  text-transform: lowercase;
  margin: 0;
  padding-bottom: 152px;

  @media(max-width: $mobile-width-only) {
    @include font(18px, 27px, 300);
    padding-bottom: 30px;
  }
}

.about p {
  @include font(16px, 24px, 400);
  margin: 0;
  padding: 8px 0;

  @media(max-width: $mobile-width-only) {
    @include font(10px, 15px, 400);
    padding: 8px 0;
  }
}

.about__wrapper {
  max-width: 1440px;
  margin: 100px auto 0;
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 0 0 0 10px;

  @media(max-width: $mobile-width-only) {
    margin-top: 55px;
    margin-bottom: 51px;
  }
}

.about__content {
  max-width: 1040px;
  margin: 0 130px 0 auto;

  @media(max-width: $tablet-width-only) {
    margin: 0;
    padding-right: 10px;
    max-width: 60%;
  }

  @media(max-width: $mobile-width-only) {
    max-width: 70%;
  }
}

.about__text-box {
  max-width: 600px;
}

.about__movie-box {
  position: relative;
  height: 948px;

  @media(max-width: $tablet-width-only) {
    height: 639px;
    overflow: hidden;
    min-width: 170px;
    max-width: 219px;
  }
}

.about .about__movie {
  width: 500px;
  height: 948px;
  object-fit: cover;

  @media(max-width: $tablet-width-only) {
    min-width: 170px;
    max-width: 219px;
    object-fit: cover;
    object-position: left;
    height: 649px;
  }

  @media(max-width: $mobile-width-only) {
    min-width: 170px;
    max-width: 170px;
    object-fit: cover;
    height: 649px;
  }
}

.about button {
  position: absolute;
  bottom: 74px;
  right: 50px;
  background-color: none;
  background-image: url("../img/chat-icon.png");
  width: 100px;
  height: 100px;
  border: none;
  cursor: pointer;

  &:hover::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgba($basic-dark, 0.1);
    top: 0;
    left: 0;
  }

  &:active::before {
    background-color: rgba($basic-dark, 0.2);
  }

  @media(max-width: $tablet-width-only) {
    display: none;
  }
}
