.button {
  @include font(14px, 18px, 600);
  color: $basic-dark;
  text-transform: lowercase;
  text-decoration: none;
  border: 1px solid $basic-dark;
  padding: 15px 20px;
  letter-spacing: 0.2em;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;

  &:hover {
    background-color: $secondary-light;
  }

  @media(max-width: $mobile-width-only) {
    padding: 12px 20px;
  }
}
