.contacts__list span {
  @include font(20px, 30px, 400);
  color: $basic-light;
  text-decoration: none;
  text-transform: lowercase;
  cursor: pointer;
  position: relative;
  text-align: right;
  letter-spacing: 0.4px;

  &:hover {
    font-weight: 700;
    letter-spacing: 0;

    &::before {
      content: "";
      position: absolute;
      height: 1px;
      width: 82%;
      background-color: $basic-light;
      bottom: -5px;
    }
  }

  @media(max-width: $tablet-width-only) {
    @include font(16px, 21px, 400);
  }

  @media(max-width: $mobile-width-only) {
    @include font(14px, 21px, 400);
  }
}

.contacts__toggle {
  border: none;
  background-color: transparent;
  width: 33px;
  height: 22px;
  background-image: url("../assets/main-nav-toggle.svg");
  cursor: pointer;
  margin-left: auto;
  margin-top: 22px;

  @media(max-width: $tablet-width-only) {
    display: none;
  }
}

.contacts__toggle:not(.collapsed) {
  background-image: none;
  position: relative;
  width: 22px;
  height: 22px;
  padding: 0;
  z-index: 10;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 28px;
    height: 1px;
    background-color: rgba($basic-light, 0.7);
    right: 0;
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover {
    &::before,
    &::after {
      height: 2px;
    }
  }
}

.contacts__list {
  display: block;

  a {
    justify-content: flex-end;
    text-decoration: none;
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;

  li {
    padding: 20px 0;

    @media(max-width: $tablet-width-only) {
      padding: 15px;

      &:first-child {
        padding-top: 120px;
      }

      &:last-child {
        padding-bottom: 120px;
      }
    }

    @media(max-width: $mobile-width-only) {
      &:first-child {
        padding-top: 80px;
      }
    }
  }

  li:hover {
    svg {
      fill: rgba($secondary-light, 0.3);
    }
  }

  a {
    display: flex;
    align-items: center;

    @media(max-width: $tablet-width-only) {
      flex-direction: row-reverse;
    }
  }

  svg {
    margin-left: 20px;
    fill: transparent;

    @media(max-width: $tablet-width-only) {
      width: 29px;
      height: 29px;
    }

    @media(max-width: $mobile-width-only) {
      width: 25px;
      height: 25px;
      margin-right: 20px;
      margin-left: 0;
    }
  }

  @media(max-width: $mobile-width-only) {
    align-items: flex-start;
  }
}

.contacts__collapse {
  position: absolute;
  right: 0;
  top: 8px;

  @media(max-width: $tablet-width-only) {
    position: static;
  }
}

.contacts__wrapper {
  padding: 50px 0 140px 30px;
  max-width: 300px;

  @media(max-width: $tablet-width-only) {
    background-color: transparent;
    padding: 0;
  }
}

.contacts__collapse.collapse:not(.show) {
  @media(max-width: $tablet-width-only) {
    display: block;
  }
}
