.faq__wrapper {
  max-width: 1040px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 0 10px;
  margin-bottom: 100px;

  @media(max-width: $mobile-width-only) {
    margin-bottom: 50px;
    margin-top: 50px;
  }
}

.faq h2 {
  @include font(36px, 54px, 300);
  text-transform: lowercase;
  margin-bottom: 27px;

  @media(max-width: $mobile-width-only) {
    @include font(18px, 27px, 300);
    margin-bottom: 12px;
  }
}

.faq button {
  @include font(24px, 36px, 600);
  letter-spacing: 0.2em;
  border: none;
  background-color: inherit;
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding-right: 35px;
  padding-left: 0;

  @media(max-width: $mobile-width-only) {
    @include font(11px, 16px, 600);
  }
}

.faq__content {
  padding-top: 10px;
  max-width: 700px;
}

.faq__list {
  @include reset-list;
}

.faq__item {
  border-bottom: 1px solid rgba($basic-dark, 0.3);
  padding: 23px 0;

  &:last-child {
    border-bottom: none;
  }

  ul {
    @include reset-list;
    position: relative;
    padding-left: 30px;

    li::before {
      content: "•";
      color: $basic-dark;
      position: absolute;
      width: 5px;
      height: 5px;
      left: 10px;
    }

    &.unstyled {
      padding-left: 0;
      li::before {
        width: 0;
        content: "";
      }
    }
  }
}

.faq p,
.faq li {
  @include font(16px, 24px, 400);
}

.faq__item button.collapsed {
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 22.5px;
    height: 1px;
    background-color: $basic-dark;
    top: 20px;
    right: 10px;

    @media(max-width: $mobile-width-only) {
      top: 10px;
    }
  }

  &::after {
    transform: rotate(90deg);
    transition: transform .1s ease-in-out;
  }

  @media(max-width: $mobile-width-only) {
    padding-right: 102px;
  }
}

.faq__item button:not(.collapsed) {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 22.5px;
    height: 1px;
    background-color: $basic-dark;
    top: 20px;
    right: 10px;
    transform: rotate(180deg);
    transition: transform .1s ease-in-out;

    @media(max-width: $mobile-width-only) {
      top: 10px;
    }
  }
}

.fade {
  transition: all .2s ease-in-out;

  &:not(.show) {
    opacity: 0;
  }
}

.collapse {
  &:not(.show) {
    display: none;
  }
}

.collapsing {
  height: 0;
  overflow: hidden;
  transition: all .2s ease-in-out;

  &.collapse-horizontal {
    width: 0;
    height: auto;
    transition: all .2s ease-in-out;
  }
}
