.feedback__form {
  border: 1px solid $basic-dark;
  width: 100%;
  padding: 50px 70px 74px;
  box-sizing: border-box;
  margin-left: auto;

  @media(max-width: $mobile-width-only) {
    padding: 31px 31px 43px;
  }
}

.feedback .button-close {
  display: none;
}

.feedback__form--hide {
  display: none;
}

.feedback {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 10px;
}

.feedback__wrapper {
  max-width: 780px;
  margin-left: auto;
  margin-bottom: 150px;

  position: relative;

  @media(max-width: $mobile-width-only) {
    margin-bottom: 50px;
  }
}

.feedback__controls {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;

  @media(max-width: $mobile-width-only) {
    margin-bottom: 30px;
  }
}

.feedback h2 {
  @include font(36px, 54px, 300);
  text-transform: lowercase;
  margin-bottom: 10px;
  margin-top: 0;

  @media(max-width: $mobile-width-only) {
    @include font(18px, 27px, 300);
    margin-bottom: 2px;
  }
}

.feedback button {
  min-width: 213px;
  max-width: 300px;
  cursor: pointer;

  @media(max-width: $mobile-width-only) {
    @include font(10px, 16px, 600);
    min-width: 92px;
    padding: 8px 12px;
  }
}

.feedback__success {
  border: 1px solid $basic-dark;
  padding: 50px 70px;
  box-sizing: border-box;
  margin-left: auto;
  position: absolute;
  top: 0;
  right: 0;
  background-color: $basic-light;
  width: 100%;
  height: 100%;

  @media(max-width: $mobile-width-only) {
    padding: 31px;
  }
}

.feedback__success p {
  margin: 0;
  padding-bottom: 30px;
}

.feedback__success p:first-child {
  @include font(36px, 54px, 300);
  margin: 0;
  padding-bottom: 20px;
  text-transform: lowercase;

  @media(max-width: $mobile-width-only) {
    @include font(18px, 27px, 300);
  }
}

.feedback__success .button {
  @include font(14px, 21px, 600);
  width: 226px;
  cursor: pointer;

  &:hover {
    color: rgba($basic-dark, 0.7);
    border-color: rgba($basic-dark, 0.7);
  }

  @media(max-width: $mobile-width-only) {
    @include font(10px, 16px, 600);
    padding: 8px 0;
  }
}

.feedback input {
  @include placeholder;
  border: none;
  border-bottom: 1px solid $basic-dark;
  padding: 12px 0;
  margin-bottom: 26px;

  &:last-of-type {
    margin-bottom: 0;
  }

  &:focus {
    outline: none;
    border-bottom: 2px solid $basic-dark;
    padding: 12px 0 11px;
  }

  @media(max-width: $mobile-width-only) {
    margin-bottom: 8px;
    padding: 8px 0;

    &:focus {
      padding: 8px 0 7px;
    }
  }
}
