.intro {
  position: relative;
}

.intro__wrapper {
  position: relative;

  @media(max-width: $mobile-width-only) {
    min-height: 182px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.intro__title {
  padding: 345px 10px 60px;
  max-width: 1050px;
  margin: 0 auto;

  @media(max-width: $mobile-width-only) {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 167px;
    margin: 0 auto;
    padding-right: 20px;
  }

  h1 {
    @include font(144px, 190px, 600);
    font-family: "Plain", "Helvetica", sans-serif;
    color: $basic-light;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: -0.02em;
    max-width: 840px;
    margin-left: auto;
    text-align: right;

    @media(max-width: $tablet-width-only) {
      max-width: 600px;
      margin-left: auto;
      text-align: left;
    }

    @media(max-width: $mobile-width-only) {
      @include font(48px, 48px, 600);
      text-align: left;
    }
  }

  p {
    @include font(18px, 27px, 400);
    text-transform: lowercase;
    color: $basic-light;
    margin: 0;
    max-width: 790px;
    margin-left: auto;

    @media(max-width: $tablet-width-only) {
      max-width: 600px;
      margin: 0;
      margin-left: auto;
    }

    @media(max-width: $mobile-width-only) {
      @include font(10px, 15px, 400);
      padding-top: 10px;
      padding-bottom: 15px;
    }
  }
}

.intro__button-box {
  max-width: 1050px;
  margin: 0 auto;

  div {
    max-width: 790px;
    margin-left: auto;
    margin-bottom: 106px;

    @media(max-width: $mobile-width-only) {
      margin-bottom: 0;
    }
  }

  @media(max-width: $tablet-width-only) {
    max-width: 600px;
    margin: 0;
    margin-left: auto;
  }

  @media(max-width: $mobile-width-only) {
    margin: 0 auto;
  }
}

.intro .button {
  border-color: $basic-light;
  color: $basic-light;
  cursor: pointer;
  position: relative;

  &:hover {
    background-color: rgba($basic-dark, 0.3);
    color: rgba($basic-light, 0.7);
    border-color: rgba($basic-light, 0.7);
  }

  @media(max-width: $mobile-width-only) {
    @include font(10px, 15px, 600);
    letter-spacing: 0.2em;
  }
}

.intro__box {
  background-color: $tertiary-light;
  max-width: 769px;
  width: 100%;
  padding: 50px 50px 65px;
  margin-left: auto;
  margin-bottom: 50px;
  box-sizing: border-box;

  @media(max-width: $mobile-width-only) {
    position: absolute;
    padding: 15px;
    width: 100%;
    bottom: 0;
  }

  .intro__discount {
    @include font(24px, 36px, 600);
    color: $basic-light;
    letter-spacing: 0.2em;
    text-transform: lowercase;
    max-width: 370px;
    margin: 0;

    @media(max-width: $mobile-width-only) {
      @include font(13px, 19px, 400);
      padding: 20px 0;
      max-width: 183px;
      margin: 0 auto;
    }
  }
}

.intro__box--nojs {
  @media(max-width: $mobile-width-only) {
    position: static;
    padding: 15px;
    width: 100%;
    margin-bottom: 0;
    margin-top: 20px;
  }
}
