.main-nav {
  margin-left: auto;
  z-index: 2;
}

.main-nav__wrapper {
  @media(max-width: $tablet-width-only) {
    background-color: rgba($basic-dark, 0.8);
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    z-index: -1;
  }

  @media(max-width: $mobile-width-only) {
    width: 100%;
  }
}

.main-nav ul {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 605px;
  padding-bottom: 10px;

  @media(max-width: $tablet-width-only) {
    display: block;
  }
}

.main-nav a {
  @include font(20px, 30px, 400);
  position: relative;
  color: $basic-light;
  text-decoration: none;
  text-transform: lowercase;
  cursor: pointer;

  &:hover {
    font-weight: 700;

    &::before {
      content: "";
      position: absolute;
      height: 1px;
      width: 70%;
      background-color: $basic-light;
      bottom: -5px;
    }
  }
}

.main-nav__item {
  margin-right: 58px;
  width: 60px;
  text-align: center;

  &:last-child {
    margin-right: 0;
  }

  &--tel {
    width: 170px;
    margin-left: auto;

    &:hover {
      font-weight: 700;

      &::before {
        width: 90%;
      }
    }
  }

  @media(max-width: $tablet-width-only) {
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    text-align: left;

    &:first-child {
      padding-top: 120px;
    }

    &:last-child {
      padding-bottom: 120px;
    }

    &--tel {
      width: 190px;
      margin-left: 0;
      margin-right: auto;
    }
  }
}

.main-nav__toggle {
  display: none;

  @media(max-width: $tablet-width-only) {
    display: block;
    border: none;
    background-color: transparent;
    width: 33px;
    height: 22px;
    background-image: url("../assets/main-nav-toggle.svg");
    cursor: pointer;
  }
}

.main-nav__toggle:not(.collapsed) {
  background-image: none;
  position: relative;
  width: 31px;
  height: 31px;
  padding: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 1px;
    background-color: rgba($basic-light, 0.7);
    right: -4px;
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover {
    &::before,
    &::after {
      height: 2px;
    }
  }
}

.main-nav__wrapper.collapse:not(.show) {
  display: block;

  @media(max-width: $tablet-width-only) {
    display: none;
  }
}
