.main-nav {
  margin-left: auto;
  z-index: 2;
}

.main-nav__wrapper {
  @media(max-width: $tablet-width-only) {
    background-color: rgba($basic-dark, 0.8);
    position: absolute;
    right: 0;
    top: 0;
    width: 70%;
    z-index: -1;
    display: flex;
    justify-content: space-between;

  }

  @media(max-width: $mobile-width-only) {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.main-nav ul {
  @include reset-list;
}

.main-nav__list {
  max-width: 580px;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(5, auto);
  column-gap: 58px;


  @media(max-width: $tablet-width-only) {
    display: block;
  }
}

.main-nav__list a {
  @include font(20px, 30px, 400);
  color: $basic-light;
  text-decoration: none;
  text-transform: lowercase;
  cursor: pointer;
  position: relative;
  text-align: right;
  letter-spacing: 0.6px;

  &:hover {
    font-weight: 700;
    letter-spacing: -0.1px;

    &::before {
      content: "";
      position: absolute;
      height: 1px;
      width: 70%;
      background-color: $basic-light;
      bottom: -5px;
    }
  }
}

.main-nav__item {
  text-align: right;

  &:last-child {
    margin-right: 0;
  }

  &--tel {
    width: 180px;
    margin: 12px 0 0 auto;

    a {
      @include font(20px, 30px, 400);
      color: $basic-light;
      text-decoration: none;
      text-transform: lowercase;
      letter-spacing: 0.3px;

      &:hover {
        font-weight: 700;
        letter-spacing: 0;
      }
    }


  }

  @media(max-width: $tablet-width-only) {
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    text-align: left;

    &:first-child {
      padding-top: 120px;
    }

    &:last-child {
      padding-bottom: 120px;
    }

    &--tel {
      width: 190px;
      margin-left: 0;
      margin-right: auto;
    }
  }

  @media(max-width: $mobile-width-only) {
    &:last-child {
      padding-bottom: 15px;
    }
  }
}

.main-nav__toggle {
  border: none;
  background-color: transparent;
  width: 33px;
  height: 22px;
  background-image: url("../assets/main-nav-toggle.svg");
  cursor: pointer;
}

.main-nav__toggle {
  display: none;

  @media(max-width: $tablet-width-only) {
    display: block;
  }
}

.main-nav__toggle:not(.collapsed) {
  background-image: none;
  position: relative;
  width: 31px;
  height: 31px;
  padding: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 1px;
    background-color: rgba($basic-light, 0.7);
    right: -4px;
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover {
    &::before,
    &::after {
      height: 2px;
    }
  }
}

.main-nav__wrapper.collapse:not(.show) {
  display: block;

  @media(max-width: $tablet-width-only) {
    display: none;
  }
}
