.modal-feedback {
  display: none;
}

.modal-feedback--show {
  display: block;
  position: fixed;
  top: 312px;
  left: calc(50% - 390px);
  z-index: 100;

  @media(max-width: $tablet-width-only) {
    left: calc(50% - 40vw)
  }

  @media(max-width: $mobile-width-only) {
    left: calc(50% - 45vw);
  }
}

.modal-feedback .feedback__wrapper {
  margin-bottom: 0;
}

.modal-feedback .feedback__form {
  background-color: $basic-light;
  width: 780px;
  min-height: 400px;

  @media(max-width: $tablet-width-only) {
    width: 80vw;
  }

  @media(max-width: $mobile-width-only) {
    width: 90vw;
    min-height: 249px;
  }
}

.modal-feedback .button-close {
  width: 18px;
  height: 18px;
  position: absolute;
  background-color: transparent;
  border: none;
  top: 45px;
  right: 35px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: $basic-dark;
    right: 10px;
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover {
    &::before,
    &::after {
      height: 2px;
    }
  }
}

.modal-feedback .button-close {
  display: inline-block;
}
