.page-body {
  @include font(16px, 28px, normal);
  font-family: "SF UI Display", "Helvetica", sans-serif;
  background-color: $basic-light;
  color: $basic-dark;
  min-height: 100%;
  min-width: 320px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  position: relative;
}
