.photos h2 {
  @include font(36px, 54px, 300);
  text-transform: lowercase;
  margin-top: 0;
  margin-bottom: 50px;

  @media(max-width: $mobile-width-only) {
    @include font(18px, 27px, 300);
  }
}

.photos ul {
  @include reset-list;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;

  @media(max-width: $tablet-width-only) {
    justify-content: center;
  }
}

.photos li {
  margin-right: 70px;

  &:last-child {
    margin-right: 0;
  }

  @media(max-width: $tablet-width-only) {
    margin-right: 0;
  }
}

.photos__wrapper {
  max-width: 1040px;
  margin: 100px auto 222px;

  @media(max-width: $tablet-width-only) {
    padding: 0 10px;
    margin-bottom: 60px;
    margin-top: 74px;
  }
}

.slider-item img {
  width: 450px;
  height: 609px;

  @media(max-width: $tablet-width-only) {
    display: none;
  }
}

.slider-item--current img {
  width: 520px;
  height: 700px;

  @media(max-width: $tablet-width-only) {
    display: block;
    width: 100%;
    height: 452px;
  }
}

.photos .slider {
  padding: 0;
}

.photos .slider__controls {
  width: 340px;
  margin: 0 auto;

  @media(max-width: $tablet-width-only) {
    width: 100%;
    max-width: 340px;
  }
}

.photos .slider__control{
  margin-right: 0;
}

.photos .slider__control--current {
  width: 50px;
  height: 2px;
  border-bottom: 1px solid $basic-dark;
}
