
.photos h2 {
  @include font(36px, 54px, 300);
  text-transform: lowercase;
  margin-top: 0;
  margin-bottom: 50px;
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 10px;

  @media(max-width: $mobile-width-only) {
    @include font(18px, 27px, 300);
  }
}

.photos .bullets__list {
  margin: 28px auto 0;
  padding-left: 0;
  position: relative;

  @media(max-width: $mobile-width-only) {
    padding: 0 10px;
    box-sizing: border-box;
  }

  li {
    @media(max-width: $mobile-width-only) {
      width: 100%;
    }

  }
}

.photos__wrapper {
  margin: 50px auto 214px;
  overflow-x: hidden;

  @media(max-width: $tablet-width-only) {
    margin-bottom: 48px;
    margin-top: 42px;
  }
}

.photos__carousel-wrapper {
  max-width: 1040px;
  margin: 0 auto;
  overflow-x: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @media(max-width: 1060px) {
    max-width: 100vw;
  }
}

.photos__slides {
  align-items: flex-end;
}

.photos {
  .splide__slide img {
    width: 450px;
    height: 609px;
    transition: all 0.1s ease-out;

    @media(max-width: $desktop-small) {
      width: 340px;
      height: 457px;
    }

    @media(max-width: $mobile-width-only) {
      width: 340px;
      height: 457px;
    }
  }

  .splide__slide.is-active img {
    width: 520px;
    height: 700px;

    @media(max-width: $desktop-small) {
      width: 360px;
      height: 477px;
    }

    @media(max-width: $mobile-width-only) {
      width: 340px;
      height: 457px;
    }
  }
}

.photos__slide {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 700px;

  @media(max-width: $desktop-small) {
    justify-content: center;
    height: 477px;
  }

  @media(max-width: $mobile-width-only) {
    height: 457px;
  }
}
