
.photos h2 {
  @include font(36px, 54px, 300);
  text-transform: lowercase;
  margin-top: 0;
  margin-bottom: 50px;
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 10px;

  @media(max-width: $mobile-width-only) {
    @include font(18px, 27px, 300);
  }
}

.photos ul {
  @include reset-list;
  display: flex;
  align-items: flex-end;
  margin: 0 auto 30px;
  flex-wrap: nowrap;
  min-width: max-content;

  @media(max-width: $tablet-width-only) {
    justify-content: center;
    margin-bottom: 20px;
  }
}

.photos li {
  margin-right: 70px !important;
  width: min-content !important;

  &:last-child {
    margin-right: 0;
  }

  @media(max-width: $tablet-width-only) {
    margin: 0 auto !important;
    padding: 0 10px;
  }
}

.photos__wrapper {
  margin: 50px auto 222px;
  overflow-x: hidden;

  @media(max-width: $tablet-width-only) {
    margin-bottom: 48px;
    margin-top: 42px;
  }
}

.wrap {
  max-width: 1040px;
  width: 100vw;
  margin: 0 auto;
  overflow-x: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.photos__bullets-wrapper {
  padding: 0 10px;
}

.photos img {
  background-color: $secondary-light;
}

.photos {
  .glide__slide img {
    width: 450px;
    height: 609px;

    @media(max-width: $mobile-width-only) {
      width: 340px;
      height: 457px;
      text-align: center;
    }
  }
  .glide__slide--active img {
    width: 520px;
    height: 700px;

    @media(max-width: $mobile-width-only) {
      width: 340px;
      height: 457px;
    }
  }
}
