.reviews .carousel-indicators {
  bottom: -228px;
  left: 24vw;

  @media(max-width: $tablet-width-only) {
    bottom: -80px;
    right: 20px;
    left: auto;
  }

  @media(max-width: $mobile-width-only) {
    max-width: 170px;
    bottom: -145px;
    right: 0;
  }
}

.reviews h2 {
  @include font(36px, 54px, 300);
  max-width: 1040px;
  margin: 0 auto;
  text-transform: lowercase;
  padding-bottom: 55px;

  @media(max-width: $mobile-width-only) {
    @include font(18px, 27px, 300);
    padding: 0 10px 43px;
  }
}

.reviews__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.4fr 2fr 1fr;
  grid-template-rows: auto 1fr;

  @media(max-width: $tablet-width-only) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

.reviews__carousel {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  padding-top: 102px;

  @media(max-width: $tablet-width-only) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 18px 10px 0;
  }
}

.reviews__list {
  @include reset-list;
}

.reviews__item-wrap {
  max-width: 600px;
  padding: 117px 124px;
  box-sizing: border-box;
  border: 1px solid $basic-dark;
  background-color: $basic-light;

  @media(max-width: $tablet-width-only) {
    margin: 0 auto;
    padding: 64px 0;
  }
}

.reviews video {
  object-fit: cover;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  z-index: -1;
  width: 720px;
  height: 820px;
  background-color: $secondary-light;

  @media(max-width: $tablet-width-only) {
    width: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 399px;
  }
}

.reviews img {
  display: block;
  margin: 0 auto;

  @media(max-width: $mobile-width-only) {
    width: 199px;
    height: 95px;
  }
}
