@font-face {
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    url("../fonts/SFUIDisplay-light.woff2"),
    url("../fonts/SFUIDisplay-light.woff");
}

@font-face {
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("../fonts/SFUIDisplay-regular.woff2"),
    url("../fonts/SFUIDisplay-regular.woff");
}

@font-face {
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    url("../fonts/SFUIDisplay-semibold.woff2"),
    url("../fonts/SFUIDisplay-semibold.woff");
}

@font-face {
  font-family: "Plain";
  font-weight: 250;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/plain-thin.woff2") format("woff2"),
    url("../fonts/plain-thin.woff") format("woff");
}

@font-face {
  font-family: "Plain";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/plain-regular.woff2") format("woff2"),
    url("../fonts/plain-regular.woff") format("woff");
}

@font-face {
  font-family: "Plain";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/plain-medium.woff2") format("woff2"),
    url("../fonts/plain-medium.woff") format("woff");
}
