.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

// picture {
//   display: block;
//   line-height: 0;
// }

.fade {
  transition: all .2s ease-in-out;

  &:not(.show) {
    opacity: 0;
  }
}

.collapse {
  &:not(.show) {
    display: none;
  }
}

.collapsing {
  height: 0;
  overflow: hidden;
  transition: all .2s ease-in-out;

  &.collapse-horizontal {
    width: 0;
    height: auto;
    transition: all .2s ease-in-out;
  }
}
