@mixin placeholder {
  &::placeholder {
    font-size: 16px;
    line-height: 24px;
    color: rgba($basic-dark, 0.3);
    text-transform: lowercase;
    font-family: "SF UI Display", "Verdana", sans-serif;
    opacity: 1;

    @media(max-width: $mobile-width-only) {
      font-size: 10px;
      line-height: 15px;
    }
  }
}

@mixin reset-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin font($font-size, $line-height, $font-weight) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}


// bootstrap

@mixin clearfix() {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}


@mixin transition($transition...) {
  @if length($transition) == 0 {
    $transition: $transition-base;
  }

  @if length($transition) > 1 {
    @each $value in $transition {
      @if $value == null or $value == none {
        @warn "The keyword 'none' or 'null' must be used as a single argument.";
      }
    }
  }

  @if $enable-transitions {
    @if nth($transition, 1) != null {
      transition: $transition;
    }

    @if $enable-reduced-motion and nth($transition, 1) != null and nth($transition, 1) != none {
      @media (prefers-reduced-motion: reduce) {
        transition: none;
      }
    }
  }
}
